body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 330px;
    text-orientation: initial;
    padding-right:10px;
    padding-left:0px;
    margin-left:0px;
}


#conteneur1 {
    width: 330px;
    padding-left:0px;
    margin-left:0px;
}

#conteneur2 {
    width: 330px;
    padding-left:0px;
    margin-left:0px;
}
.titre1 {
    width: 330px;   
}
.titre2 {
    width: 330px;   
}
#etudiant {
    width:40%;
    padding-left:0px;
    margin-left:0px;
    font-size:10px;
}
#formation {
    width: 320px;
    margin-left:0px;
    padding-left:0px;
}
#formation h3 {
    width:30%;
    font-size:12px;
}
#formation p{
    font-size:10px;
}
.date1 {
    width:35%;
}

.date2 {
    width:35%;
}

.date3 {
    width:35%;
}

#formation1 {
    width: 35%;
}

#formation2 {
    width: 35%;
}

#formation3 {
    width: 35%;
}
#experience {
    width: 320px;
    margin-left:0px;
    padding-left:0px;
}
#experience p{
    font-size:10px;
}
#experience h3{
    font-size:12px;
}
#lieu1 {
    width: 35%;
}

#lieu2 {
    width: 35%;
}

#lieu3 {
    width: 35%;
}

.experience1 {
    width: 35%;
}

.experience2 {
    width: 35%;
}

.experience3 {
    width: 35%;
}


#reco {
    width: 330px;
    padding-bottom:50px;
    display:flex;
    flex-direction:column;
}


#propo {
    width: 50%;
    margin-left:0px;
    padding-left:0px;
    height:650px;
}

#activ {
    padding-left: 20px;
    height:150px;
    width:50%;
}
#activ i{
    margin-top:15px;
}
   
