body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    text-orientation: initial;
}

#conteneur1 {
    width: 400px;
}

#conteneur2 {
    width: 400px;
}
.titre1 {
    width: 400px;
}
#etudiant {
    width: 400px;
    margin-left: 45px;
}
#formation {
    width: 380px;
}
#date1 {
    width: 380px;
}

#date2 {
    width: 380px;
}

#date3 {
    width: 380px;
}

#formation1 {
    width: 380px;
}

#formation2 {
    width: 380px;
}

#formation3 {
    width: 380px;
}
#experience {
    width: 380px;
}


#lieu1 {
    width: 380px;
}

#lieu2 {
    width: 380px;
}

#lieu3 {
    width: 380px;
}

#experience1 {
    width: 380px;
}

#experience2 {
    width: 380px;
}

#experience3 {
    width: 380px;
}


#reco {
    width: 400px;
    padding-bottom: 40px;
    height:400px;
}

#propo {
    width: 400px;
}

#activ {
    padding-left: 50px;
}

    © 2020 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Help

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About
