body {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:600px;
    text-orientation:initial;
    }

#conteneur1{
    width:600px;
}

#conteneur2 {
    width: 600px;
}
#formation{
    width:580px;
}
#experience{
    width:580px;
}
#etudiant {
    width: 600px;
    margin-left:45px;
}
.date1{
    margin-left:10%;
}
.date2 {
    margin-left:10%;
}
.date3 {
    margin-left:10%;
}
#formation1{
    margin-left:10%;
}
#formation2 {
    margin-left:10%;
}
#formation3 {
   margin-left:10%;
}
#lieu1{
    margin-left:10%;
}
#lieu2 {
    margin-left:10%;
}
#lieu3 {
    margin-left:10%;
}
#experience1{
    margin-left:10%;
}
#experience2 {
    margin-left:10%;
}
#experience3 {
    margin-left:10%;
}
.titre1 {
    width: 600px;
}
#reco{
    width:600px;
    padding-bottom:10px;
}
#propo{
    width:600px;
}
#activ{
    padding-left:200px;
}
