body {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:600px;
    text-orientation:initial;
    }

#conteneur1{
    width:600px;
}
#conteneur1 p{
    font-size:17px;
}
#conteneur2 p{
    font-size:17px;
}
#conteneur2 {
    width: 600px;
}
#formation{
    width:580px;
}
#formation h4{
    font-size:17px;
}
#formation h3 {
        font-size: 17px;
    }
#experience{
    width:580px;
}
#experience h4{
    font-size:17px;
}
#experience h3 {
        font-size: 17px;
    }
#etudiant {
    margin-right:25%;
    margin-left:5%;
    font-size:20px;
}
#nom1 {
    font-size: 25px;
}

#nom2 {
    font-size: 25px;
}

#formation1{
    margin-left:1%;
    margin-right:27%;
    width:75%;
}
#formation2 {
    margin-left: 1%;
    margin-right: 27%;
    width:75%;
}
#formation3 {
    margin-left: 1%;
    margin-right: 27%;
    width:75%;
}
#lieu1 {
    margin-left: 1%;
    width:75%;
}
#lieu2 {
    margin-left: 1%;
    width:75%;
}
#lieu3 {
    margin-left: 1%;
    width:75%;
}
.experience1{
    margin-left:1%;
}
.experience2 {
    margin-left: 1%;
}
.experience3 {
    margin-left: 1%;
}

.titre1 {
    width: 600px;
}
.titre1 h2{
    font-size:18px;
}
.titre2 {
    width: 550px;
}
.titre2 h2{
    font-size:17px;
}
#reco{
    width:600px;
    padding-bottom:10px;
}
#propo {
    height: 300px;
}
#activ i{
    margin-left:2px;
    padding-left:2px;
}
.fa-graduation-cap{
    margin-left:0px;
}
#contact{
    margin-left:1%;
}
.fa-briefcase{
    margin-left:0px;
    padding-right:2px;
    margin-right:2px;
}
.fa-pencil-alt {
    margin-left: 0px;
    padding-right: 2px;
    margin-right: 2px;
}
