body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    text-orientation: initial;
    padding-right:10px;
    padding-left:0px;
    margin-left:0px;
}

#conteneur1 {
    width: 400px;
    padding-left:0px;
    margin-left:0px;
}

#conteneur2 {
    width: 400px;
    padding-left:0px;
    margin-left:0px;
}
.titre1 {
    width: 400px;
}
#etudiant {
    width: 400px;
    padding-left:0px;
    margin-left:0px;
}
#formation {
    width: 385px;
    padding-left:0px;
    margin-left:0px;
}
#date1 {
    width: 385px;
}

#date2 {
    width: 385px;
}

#date3 {
    width: 385px;
}

#formation1 {
    font-size:0,4em;
    text-align:justify;
}

#formation2 {
    font-size:0,4em;
    text-align:justify;
}

#formation3 {
   font-size:0,4em;
    text-align:justify;
}
#experience {
    width: 385px;
    padding-left:0px;
    margin-left:0px;
}


#lieu1 {
    width: 385px;
}

#lieu2 {
    width: 385px;
}

#lieu3 {
    width: 385px;
}

#experience1 {
    font-size:0,4em;
    text-align:justify;
}

#experience2 {
    font-size:0,4em;
    text-align:justify;
}

#experience3 {
    font-size:0,4em;
    text-align:justify;
}


#reco {
    width: 400px;
    padding-bottom: 40px;
    display:flex;
    flex-direction:column;
}

#propo {
    width: 400px;
}

#activ {
    padding-left: 50px;
}

    
