body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 330px;
    text-orientation: initial;
    padding-right:10px;
    padding-left:0px;
    margin-left:0px;
}


#conteneur1 {
    width: 330px;
    padding-left:0px;
    margin-left:0px;
}

#conteneur2 {
    width: 330px;
    padding-left:0px;
    margin-left:0px;
}
.titre1 {
    width: 330px;   
}
.titre2 {
    width: 330px;   
}
#etudiant {
    width: 330px;
    padding-left:0px;
    margin-left:0px;
}
#formation {
    width: 320px;
    margin-left:0px;
    padding-left:0px;
}
#formation h3 {
    width:320px;
}
#date1 {
    width: 320px;
}

#date2 {
    width: 320px;
}

#date3 {
    width: 320px;
}

#formation1 {
    width: 300px;
}

#formation2 {
    width: 300px;
}

#formation3 {
    width: 300px;
}
#experience {
    width: 320px;
    margin-left:0px;
    padding-left:0px;
}


#lieu1 {
    width: 320px;
}

#lieu2 {
    width: 320px;
}

#lieu3 {
    width: 320px;
}

#experience1 {
    width: 300px;
}

#experience2 {
    width: 300px;
}

#experience3 {
    width: 300px;
}


#reco {
    width: 330px;
    padding-bottom:50px;
    display:flex;
    flex-direction:column;
}


#propo {
    width: 330px;
    margin-left:0px;
    padding-left:0px;
}

#activ {
    padding-left: 20px;
}

   
