body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    text-orientation: initial;
    padding-right:10px;
    padding-left:0px;
    margin-left:0px;
}

#conteneur1 {
    width: 400px;
    padding-left:0px;
    margin-left:0px;
}

#conteneur2 {
    width: 400px;
    padding-left:0px;
    margin-left:0px;
}
.titre1 {
    width: 400px;
}
#conteneur1 p {
    font-size: 0,4em;
}

#conteneur2 p {
    font-size: 0,4em;
}
#etudiant {
    width: 400px;
    margin-left:1%;
}
#formation {
    width: 390px;
}
#formation h3{
    font-size:0,4em;
}
#formation h4 {
        font-size: 0,4em;
    }
#formation1 {
    text-align:justify;
    margin-left:1%;
}

#formation2 {
    text-align: justify;
    margin-left: 1%;
}

#formation3 {
    text-align: justify;
    margin-left: 1%;
}
#experience {
    width: 390px;
}


#lieu1 {
    margin-left: 1%;
}

#lieu2 {
    margin-left: 1%;
}

#lieu3 {
    margin-left: 1%;
}

#experience1 {
    margin-left: 1%;
}

#experience2 {
    margin-left: 1%;
}

#experience3 {
    margin-left: 1%;
}


#reco {
    width: 400px;
    padding-bottom: 40px;
    display:flex;
    flex-direction:column;
}

#propo {
    width: 400px;
}

#activ {
    padding-left: 50px;
}

.fa-briefcase{
    margin-left:1%;
}  
