body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 330px;
    text-orientation: initial;
}


#conteneur1 {
    width: 330px;
}

#conteneur2 {
    width: 330px;
}
.titre1 {
    width: 330px;   
}
.titre2 {
    width: 330px;   
}
#etudiant {
    width: 320px;
    margin-left: 25px;
}
#formation {
    width: 310px;
    margin-left:0px;
    padding-left:0px;
}
#formation h3 {
    width:310px;
}
#date1 {
    width: 310px;
}

#date2 {
    width: 310px;
}

#date3 {
    width: 310px;
}

#formation1 {
    width: 300px;
}

#formation2 {
    width: 300px;
}

#formation3 {
    width: 300px;
}
#experience {
    width: 310px;
    margin-left:0px;
    padding-left:0px;
}


#lieu1 {
    width: 310px;
}

#lieu2 {
    width: 310px;
}

#lieu3 {
    width: 310px;
}

#experience1 {
    width: 300px;
}

#experience2 {
    width: 300px;
}

#experience3 {
    width: 300px;
}


#reco {
    width: 310px;
    padding-bottom: 40px;
    display:flex;
    flex-direction:column;
}


#propo {
    width: 330px;
    margin-left:0px;
    padding-left:0px;
}

#activ {
    padding-left: 20px;
}

    © 2020 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Help

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About
